@media (max-width:600px) {
    body{
        background: none;
        background: url(../images/bg.png);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        background-position: right bottom, left top;
    }
    .search{
        display: none !important;
    }

    .dotted-b{
        object-fit: cover !important;
    }

    .adobe{
        top: 10px;
        font-size: 12px;
    }
    
    .word{
        margin-top: 0px;
    }

    .img-bg-box{
        display: none;
    }
    .sub-images{
        display: flex;
        margin-bottom: 60px;
    }
    nav .bar{
        width: 50%;
        background: linear-gradient(to right, purple, rgba(255, 255, 0, 0.587));
    }

    .collapse-icon{
        display: none;
    }
    .social{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 50px;
        bottom: 50px;
        left: 0;
    }


    nav .navbar{
        display: none;
    }


    /* nav .navbar .nav-item a{
        
    } */

    .right-bottom{
        transform: translateX(0px);
    }

    .right{
        transform: translateX(30px);
    }

    .title{
        transform: translateX(50px);
        font-size: 14px;
        top: 160px;
    }

    .tools{
        padding: 10px 25px;
        margin-bottom: 100px;
        padding-right: 150px;
    }
    .shift-right{
        transform: translateX(00px);
    }
    .tshiftr{
        transform: translateX(370px);
        transform: translateY(100px);
        font-size: 17px;
    }
    .tshifts{
        transform: translate(70px, -150px);
    }
    .transx{
        transform: translateX(-280px);
        margin-bottom: 28px;
    }
    img{
        height: 100% !important;
    }
    .sub-tit>h1{
        font-size: 22px;
    } 
    .search-box{
        display: none;
    }
    input{
        display: none;
    }
}

@media (min-width: 600px) {
    body{
        background: none;
        background: url(../images/bg.png);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        background-position: right bottom, left top;
    }

    .search{
        display: none !important;
    }
    
    .img-bg-box{
        display: none;
    }
    .sub-images{
        display: flex;
    }
    nav .bar{
        width: 50%;
        background: linear-gradient(to right, purple, rgba(255, 255, 0, 0.587));
    }

    nav .navbar{
        display: none;
    }


    /* nav .navbar .nav-item a{
        
    } */

    .right-bottom{
        transform: translateX(0px);
    }

    .right{
        transform: translateX(300px);
    }

    .title{
        transform: translateX(200px);
        font-size: 16px;
        top: 130px;
    }

    .tools{
        padding: 10px 25px;
        margin-bottom: 100px;
    }
    .shift-right{
        transform: translateX(00px);
    }
    .tshiftr{
        transform: translateX(370px);
        transform: translateY(100px);
        font-size: 17px;
    }
    .tshifts{
        transform: translate(220px, -150px);
    }
    .transx{
        transform: translateX(-280px);
        margin-bottom: 28px;
    }
    img{
        height: 100% !important;
    }
    .sub-tit>h1{
        font-size: 22px;
    } 
    .search-box{
        display: none;
    }
    input{
        display: none;
    }
    .dotted-b{
        object-fit: cover !important;
    }
}

@media (min-width: 768px) {
    body{
        background: none;
        background: url(../images/bg.png);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        background-position: right bottom, left top;
    }

    .img-bg-box{
        display: none;
    }
    .sub-images{
        display: flex;
    }
    nav .bar{
        width: 50%;
        background: linear-gradient(to right, purple, rgba(255, 255, 0, 0.587));
    }

    nav .navbar{
        display: none;
    }


    /* nav .navbar .nav-item a{
        
    } */

    .right-bottom{
        transform: translateX(0px);
    }

    .right{
        transform: translateX(500px);
    }

    .title{
        transform: translateX(400px);
        font-size: 18px;
        top: 130px;
    }

    .tools{
        margin-bottom: 100px;
    }
    .shift-right{
        transform: translateX(200px);
    }
    .tshiftr{
        transform: translateX(470px);
        transform: translateY(100px);
        font-size: 17px;
    }
    .tshifts{
        transform: translate(360px, -150px);
    }
    .transx{
        transform: translateX(-280px);
        margin-bottom: 28px;
    }
    img{
        height: 100% !important;
    }
    .sub-tit>h1{
        font-size: 22px;
    } 
    .search-box{
        display: none;
    }
    input{
        display: none;
    }
}

@media (min-width: 992px) {
    body{
        background: none;
        background: url(../images/40f24e8c5df85fcd65f2a74822ba7f6e.png);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    .search{
        display: inherit !important;
    }
    .search-box{
        display: inherit;
    }
    input{
        display: inherit;
    }
    .img-bg-box{
        display: none;
    }
    .sub-images{
        display: flex;
    }
    .dots{
        left: -200px;
        top: 30px;
        width: 20%;
        object-fit: cover;
    }
    .adobe{
        top: 50px;
    }

    .sub-tit h1{
        font-size: 34px !important;
    }
    nav .bar{
        width: 50%;
        background: linear-gradient(to right, purple, rgba(255, 255, 0, 0.587));
    }

    nav .navbar{
        display: none;
    }


    /* nav .navbar .nav-item a{
        
    } */

    .right-bottom{
        transform: translateX(0px);
    }

    .right{
        transform: translateX(700px);
    }

    .title{
        transform: translateX(580px);
        font-size: 18px;
        top: 110px;
    }

    .tools{
        margin-bottom: 100px;
    }
    .shift-right{
        transform: translateX(200px);
    }
    .tshiftr{
        transform: translateX(670px);
        font-size: 17px;
    }
    .tshifts{
        transform: translateX(300px);
    }
    .transx{
        transform: translateX(-280px);
        margin-bottom: 28px;
    }
    img{
        height: 100% !important;
    }
    .sub-tit>h1{
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    body{
        height: 100vh;
        overflow: hidden;
        background: none;
        background: black;
    }
    
    .img-bg-box{
        display: inherit;
    }
 
    .sub-images{
        display: none;
    }

    .tools{
        margin-bottom: 0px;
    }

    nav .bar{
        width: 50%;
        background: linear-gradient(to right, purple, rgba(255, 255, 0, 0.587));
    }

    nav .navbar{
        left: -69px;
        gap: 45px;
    }


    /* nav .navbar .nav-item a{
        
    } */

    .right-bottom{
        transform: translateX(910px);
    }

    .right{
        transform: translateX(800px);
    }

    .title{
        transform: translateX(750px);
        font-size: 18px;
    }
    .shift-right{
        transform: translateX(200px);
    }
    .tshiftr{
        transform: translateX(870px);
        font-size: 17px;
    }
    .tshifts{
        transform: translateX(600px);
    }
    .transx{
        transform: translateX(-280px);
        margin-bottom: 28px;
    }
    img{
        height: 100% !important;
    }
    .sub-tit>h1{
        font-size: 22px;
    }
}

@media (min-width: 1300px) {
    body{
        height: 100vh;
    }

    .fill{
        display: none;
    }
    .fill-white{
        display: none;
    }
    nav .bar{
        width: 45%;
    }

    nav .navbar{
        left: -75px;
        gap: 70px;
    }

    .right-bottom{
        transform: translateX(990px);
    }

    .right{
        transform: translateX(900px);
    }

    .title{
        transform: translateX(830px);
        font-size: 20px;
    }
    .shift-right{
        transform: translateX(260px);
    }
    .tshiftr{
        transform: translateX(980px);
    }
    .tshifts{
        transform: translateX(550px);
    }
    .transx{
        transform: translateX(-319px);
    }
    .sub-tit>h1{
        font-size: 28px;
    }
}
@media (min-width: 1350px) {
    body{
        height: 100vh;
    }

    .fill{
        display: none;
    }
    .fill-white{
        display: none;
    }
    nav .bar{
        width: 45%;
    }

    nav .navbar{
        left: -75px;
        gap: 70px;
    }

    .right-bottom{
        transform: translateX(1200px);
    }

    .right{
        transform: translateX(1100px);
    }

    .title{
        transform: translateX(1100px);
        font-size: 24px;
    }
    .shift-right{
        transform: translateX(320px);
    }
    .tshiftr{
        transform: translateX(1150px);
    }
    .tshifts{
        transform: translateX(690px);
    }
    .transx{
        transform: translateX(-400px);
        bottom: 0px;
    }
    .sub-tit>h1{
        font-size: 28px;
    }
}

